{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": { "prettier/prettier": ["warn"], "no-console": "warn" },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-prettier"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
